
<link rel="stylesheet" href="/static/css/home.css">



<div class="home_main_container">
    <% pwas.forEach(data=>{ %>
    <div id="<%=data._id%>" class="home_card_category">
        <a href="" class="cat_item1"><p style="font-size: 24px;"><%= data._id.charAt(0).toUpperCase() + data._id.slice(1) %></p></a>
        <a href=""class="cat_item2"><p style="font-size: 24px;"></p></a>
    </div>
    <div class="home_card_group">
        <% data.pwas.forEach(pwa=>{ %>
            <a href="/detailedView?PWAId=<%=pwa._id%>">
                <div class="home_card">
                    <div class="home_card_item1">
                        <img src="<%= pwa.logo.url %>" alt="hello" width="100%" height="100%">
                    </div>
                    <div class="home_card_item2">
                        <p style="font-size:18px ;"><%= pwa.PWAName %></p>
                    </div>
                </div>
            </a>
            
        <% }) %>
        
        
    </div>

    <% }) %>

    
    
</div>

